
.cp_icon{margin:0;padding:0;}
.cp_icon .icon_calendar{height:15px;width:16px;background:url('/_sdk/img/googlecalendar/icon_calendar.gif') left center no-repeat;display:inline-block;margin-bottom:-5px;}
.error_time{color : #DC4E22;}