.googlecalendar_navs{display:inline-block;width:100%;background:gray;padding:8px 0 8px 0;color:white}
.googlecalendar_navs ul{list-style:none;width:100%;padding:0;margin:0;display:inline-block;}
.googlecalendar_navs ul li{float:left;width:33.3%;}
.googlecalendar_navs ul li a{color:white}
.googlecalendar_navs ul li .left{float:left;margin-left:5px}
.googlecalendar_navs ul li .center{float:middle;}
.googlecalendar_navs ul li .right{float:right;margin-right:5px}

.googlecalendar_wrapper{display:inline-block;width:100%;font-family:verdana}
.googlecalendar_wrapper .googlecalendar_calendar{width:100%;text-align:center;margin:0;border-spacing:0;border:solid 1px #ccc;border-bottom:0;background:whitesmoke;}
.googlecalendar_wrapper .googlecalendar_calendar thead tr th{padding:2%;border-spacing:0;border-right:solid 1px #ccc;border-bottom:solid 1px #ccc}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td{padding:2%;border-bottom:solid 1px #ccc;border-right:solid 1px #ccc;font-size:11px;}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td a{text-decoration:none;white;font-weight:bold;}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td a:hover{color:#333333;font-weight:bold;}
