.googlecalendar_navs{display:inline-block;width:100%;padding:8px 0 8px 0;black}
.googlecalendar_navs ul{list-style:none;width:100%;padding:0;margin:0;display:inline-block;}
.googlecalendar_navs ul li{float:left;width:33.3%;}
.googlecalendar_navs ul li a{color:black}
.googlecalendar_navs ul li .left{float:left;margin-left:5px}
.googlecalendar_navs ul li .center{float:middle;}
.googlecalendar_navs ul li .right{float:right;margin-right:5px}

/**<close_button>**/
.googlecalendar_event_close{display:inline-block;background:url(/_sdk/img/googlecalendar/icon_tab_menu_close.gif) left center no-repeat;width:100%;float:right;width:10px;height:10px;margin-bottom:6px;margin-top:5px;margin-right:4px;cursor:pointer;}
.googlecalendar_event_max{display:inline-block;background:url(/_sdk/img/googlecalendar/tree_p.gif) left center no-repeat;width:100%;float:right;width:10px;height:10px;margin-bottom:6px;margin-top:5px;margin-right:4px;cursor:pointer;}
.googlecalendar_event_min{display:inline-block;background:url(/_sdk/img/googlecalendar/tree_m.gif) left center no-repeat;width:100%;float:right;width:10px;height:10px;margin-bottom:6px;margin-top:5px;margin-right:4px;cursor:pointer;display:none;}
/**</close_button>**/


.googlecalendar_wrapper{display:inline-block;width:100%;font-family:verdana;height:100%;}
.googlecalendar_wrapper .googlecalendar_calendar{border-spacing:0;height:100%;width:100%;border-collapse:collapse;}
.googlecalendar_wrapper .googlecalendar_calendar thead tr th{}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td{border:solid 1px #ccc;cursor:default;}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td a{text-decoration:none;white;font-weight:bold;}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td a:hover{color:red;font-weight:bold;}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td .googlecalendar_count_container{position:relative;margin:0;display:inline-block;height:100%;width:100%;padding:27% 0 23% 0;}
.googlecalendar_wrapper .googlecalendar_calendar tbody tr td .googlecalendar_count_container .googlecalendar_days{color:gray;font-weight:bold;}

/**<event_details>**/
.googlecalendar_event_wrapper{display:inline-block;font-size:10px;font-family:arial;width:100%;background:white;margin-bottom:5px;font-size:100%;}
.googlecalendar_event_wrapper .googlecalendar_event_container{display:inline-block;padding:0 2px 0 0;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_title{margin:0 0 2px 0;display:inline-block;padding:2px 0 2px 2px;width:100%;background:gray;color:white;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_title h2{font-size:12px;padding:0 0 0 3px;margin:0;font-weight:bold;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_content{margin:1px 0 1px 0;display:inline-block;padding:0;width:100%;cursor:default;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_content .googlecalendar_label{width:70px;display:inline-block;margin-left:3px;font-size:12px;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_content .googlecalendar_info{word-wrap:break-word !important;margin-left:5px;margin-right:5px;font-size:12px;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_content a{color:gray;display:inline-block;text-decoration:none;margin-left:3px;margin-bottom:2px;font-size:12px;}
.googlecalendar_event_wrapper .googlecalendar_event_container .googlecalendar_event_content a:hover{color:#333333;}
/**</event_details>**/

.googlecalendar_event_count{position:absolute;top:0;right:0;margin-top:5%;margin-right:5%;font-size:70.8%;cursor:pointer;font-weight:bold;color:#DC4E22}
